body{
    background-color: #113;
    overflow-x: hidden;
    margin: 0px;
}
.videodiv{
    background-image: url("../imagens/divvideobackground.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0%;
    width: 100vw;
    height: 20vw;
    text-align: center;
    padding: 1vw;
}
#divvideo{
    width: 30vw;
    height: 15vw;
    overflow:hidden;
    border: 0.3vw outset rgb(10, 180, 19);
}
#divvideobutton{
    display: block;
    overflow:hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5vw;
    width: 30vw;
    height: 2.5vw;
    border-radius: 1vw;
    background-image: linear-gradient(rgb(10, 180, 19) 60%, #000 100%);
    color: white;
    text-align: center;
    font-size: 1.5vw;
    border: 1px solid black;
}

.informacao{
    width: 50vw;
    height: 20vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1vw;
}
.informacao a{
    color: rgb(10, 180, 19);
}
#bobesponja{
    width: 12vw;
    margin-left: 3vw;
    float: left;
    padding-right: 1vw;
}

.fornecedores{
    background-color: #112;
    width: 102vw;
    height: 55vw;
    padding-top: 0.1vw;
    padding-bottom: 0px;
}

#ftitle{
    color: rgb(12, 218, 22);
    text-align: center;
    font-size: 2vw;
}

.grid_fornecedores{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 30% 30% 30% 30%;
    grid-column-start: 1;
    grid-column-end: 5;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    height: 90%;
}

.fornecedor{
    width: max-content;
    height: max-content;
    text-align: center;
}
.fornecedor p{
    color: white;
    display:block;
    font-weight: bold;
    font-size: 1vw;
}
.fornecedor_imagem{
    width: 8vw;
}

.fornecedor button{
    width: 8vw;
    height: 2vw;
    border-radius: 1vw;
    background-color: rgb(10, 180, 19);
    color: white;
    border: 1px solid black;
}
#f_descricao{
    margin: auto;
    text-align: center;
    color: white;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    width: 50vw;
}
#texto_final{
    color: white;
    font-size: 1vw;
    text-align: center;
}

@media screen and (min-width: 1301px) {
    #divvideobutton:hover{
        background-image: linear-gradient(rgb(5, 125, 11) 60%, #000 100%);
        transition-duration: 0.5s;
    }
    .fornecedor button:hover{
        background-color: rgb(10, 143, 17);
        transition-duration: 0.5s;
    }
}
@media screen and (max-width: 1300px) {
    .videodiv{
        width: 100vw;
        height: 70vw;
    }
    #divvideo{
        width: 75vw;
        height: 55vw;
        overflow:hidden;
        border: 0.3vw outset rgb(10, 180, 19);
        margin-top: 2vw;
    }
    #divvideobutton{
        width: 65vw;
        height: 10vw;
        font-size: 3vw;
    }
    .informacao{
        width: 70vw;
        height: 70vw;
        font-size: 3.3vw;
    }
    #bobesponja{
        width: 22vw;
        margin-right: 2vw;
    }
    .fornecedores{
        height: 140vw;
    }
    #ftitle{
        font-size: 4vw;
    }
    #f_descricao{
        font-size: 3vw;
    }
    .fornecedor button{
        height: 6vw;
        width: 19vw;
        font-size: 3vw;
        border-radius: 2vw;
    }
    .fornecedor_imagem{
        width: 17vw;
    }
    .grid_fornecedores{
        grid-template-columns: 45% 45% 45% 45%;
        grid-template-rows: 27% 27% 27% 27%;
    }
    .fornecedor p{
        font-size: 2.5vw;
    }
    #texto_final{
        font-size: 2.5vw;
    }
}